<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href={{ asset('css/main.css') }} />
</head>
<body>
{% block body %}
    <header>
        <h1>
            <a href="http://127.0.0.1:8000/home">Paper Plane Tournament</a>
        </h1>
    </header>

    <div class="content">
        {{ form_start(form) }}
        <div class="column">
            {{ form_row(form.participant, {'attr': {'class': 'form_item'}}) }}
            {{ form_row(form.traveldistance, {'attr': {'class': 'form_item'}}) }}
            {{ form_row(form.flightduration, {'attr': {'class': 'form_item'}}) }}
            {{ form_row(form.planemodel, {'attr': {'class': 'form_item'}}) }}
            {{ form_row(form.Date, {'attr': {'class': 'form_item'}}) }}
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
